.env
.idea
go.sum
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform
terraform.tfvars.json
/tern.conf
/images/roomloop/roomloop
/cpp2il_out/
/terraform/infra/.terraform.tfstate.lock.info
/terraform/infra-critical/.terraform.tfstate.lock.info
